@page
@model ChallengeSnow.Pages.Orders.IndexModel
@{
}

<br />
<div class="container row p=0 m=0">
    <div class="col-9">
        <h2 class="text-info"> Order List</h2>
    </div>

    <div class="col-12 border p-3 mt-3">
        @if (Model.Orders.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        <label asp-for="Orders.FirstOrDefault().Id"></label>
                    </th>
                    <th>
                        <label asp-for="Orders.FirstOrDefault().Date_Created"></label>
                    </th>
                    <th>
                        <label asp-for="Orders.FirstOrDefault().Item_Number"></label>
                    </th>
                    <th>
                        <label asp-for="Orders.FirstOrDefault().Quantity"></label>
                    </th>
                </tr>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Date_Created)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Item_Number.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Quantity)
                        </td>
                    </tr>

                }

            </table>
        }
        else
        {
            <p>No Orders available </p>
        }
    </div>



</div>
